@import url('./src/styles/colors.css');

.main {
    min-height: calc(100vh - 41px);
}

body {
    font-family: 'Shippori Antique', sans-serif;
    background-color: var(--body);
    color: var(--text);
}
