@import url('./src/styles/colors.css');

html {
    min-height: 100%;
}

body {
    font-family: 'Shippori Antique', sans-serif;
    height: 80vh;
    background-color: var(--body);
    color: var(--text);
}
