@import url('../src/styles/colors.css');

.status-box {
    background-color: var(--status);
    padding: 8px;
    border-radius: 5px;
    overflow-x: hidden;
}

.stack-box {
    background-color: var(--stack);
    border-radius: 1pc;
}

.settings {
    cursor: pointer;
    padding: 3px;
    border: 1px solid var(--border);
    border-radius: 5px;
}

.form-control{
    background-color: var(--status);
    border-color: var(--border);
    color: var(--text);
}

.input-group-text{
    color: var(--text);
    background-color: var(--status);
    border-color: var(--border);
}
