.status-box {
    background-color: #f8f9ffa1;
    padding: 8px;
    border-radius: 5px;
    overflow-x: hidden;
}

.stack-box {
    background-color: #ffffff;
    border-radius: 1pc;
}

.settings {
    text-decoration: underline;
    cursor: pointer;
}