name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          username: ${{secrets.DOCKER_HUB_USERNAME}}
          password: ${{secrets.DOCKER_HUB_PASSWORD}}
      - name: Docker meta
        id: yt-dlp-web-ui 
        uses: docker/metadata-action@v3
        with:
          images: |
            yt-dlp-web-ui 
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha
        - name: Build and push
          uses: docker/build-push-action@v2
          with:
            context: .
            platforms: linux/amd64,linux/arm/v7,linux/arm/64
            push: ${{ github.event_name != 'pull_request' }}
            tags: ${{ steps.yt-dlp-web-ui.outputs.tags }}
            labels: ${{ steps.yt-dlp-web-ui.outputs.labels }}